@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
	padding-left: 2.5%;
	padding-right: 2.5%;
	background-color: rgb(77, 77, 77);
}

#wrapper *:not(.link_class) {
	display: flexbox;
	font-family: 'Libre Baskerville', serif;
	margin: 0;
	padding-left: 1.5%;
	padding-right: 1.5%;
}

header {
	background-color: #ababab;
	padding-top: 2%;
	padding-bottom: 2%;
}

nav {
	background-color: #e3e3e3;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

nav a {
	text-decoration: none;
}

nav li, ul{
	display: inline;
	padding: 0;
}

nav li {
	padding-right: 2%;
}

body {
	margin: 0;
}

main {
	background-color: white;
}

section {
	padding-top: 2%;
	padding-bottom: 2%;
}

section h2 {
	padding-bottom: 2%;
}

section p {
	padding-bottom: 2%;
}

#intro img {
	width: 25%;
	height: auto;
}

@media (max-width: 600px) {
	#intro img {
	  width: 80vw;
	  height: auto;
	  margin: 0 auto;
	}
}

#skills img, #hobbies img {
	width: 25%;
	height: auto;
}

footer {
	background-color: #ababab;
	padding: 0.5% 0.5% 0.5% 0.5%;
}

